.placelist {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  /* gap: 20px; */
  width: 90%;
  margin: auto;
  height: 372px;
  position: relative;
  z-index: -1;
  top: 18rem;
  flex-wrap: wrap;
}

.items {
  width: 16.7rem;
  margin: .6rem;
}

@media  screen and (min-width: 375px) and (max-width: 500px) {
  .items {
    width: 16rem;
    margin: .6rem auto;
  }
}

@media screen and (min-width: 501px) and (max-width: 620px) {
  .items {
    width: 14.5rem;
    margin: .6rem auto;
  }
}

@media screen and (min-width: 621px) and (max-width: 700px) {
  .items {
    width: 15rem;
    margin: 1rem ;
  }
}

@media screen and (min-width: 701px) and (max-width: 767px) {
  .items {
    width: 16rem;
    margin: 1rem auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 800px) {
  .items {
    width: 16rem;
    /* width: 140px; */
    /* width: 20.2%; */
    margin: 1rem auto;
  }
}
@media screen and (min-width: 801px) and (max-width: 900px) {
  .items {
    /* width: 13rem; */
    /* width: 140px; */
    width: 20.2%;
    margin: 1rem auto;
  }
}