.placelist {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  /* gap: 20px; */
  width: 90%;
  margin: auto;
  height: 372px;
  position: relative;
  z-index: -1;
  top: 18rem;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  /* background-color: rgb(138, 134, 134); */
}

.items {
  width: 16.5rem;
  margin: .6rem;
  /* height: 19rem; */
  /* background-color: rgb(119, 113, 113); */
  /* margin: .2rem; */
}
